/* Using universal seletctor */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  scroll-behavior: smooth;
}

/* Varible declaration for re-use purposes */
:root {
  --themecolor: rgba(29, 38, 113, 0.9);
  --titleunderlines: rgba(235, 134, 166, 0.9);
}

/* sets the background color of whole page */
/* body {
  background: rgb(239, 241, 243, 0.95);
} */

/* set the padding and background color of the header */
#root {
  border-bottom: solid 5px rgba(29, 38, 113, 0.9);
  overflow: hidden;
  background: linear-gradient(
    rgba(29, 38, 113, 0.9),
    rgba(235, 134, 166, 0.9)
  ); /* fallback colour. Make sure this is just one solid colour. */
  /* background: -webkit-linear-gradient(
      rgba(29, 38, 113, 0.9),
      rgba(235, 134, 166, 0.9)
    ),
    url("../images/bgimage.jpg"); */
  /* background: linear-gradient(rgba(29, 38, 113, 0.9), rgba(235, 134, 166, 0.9)),
    url("../images/bgimage.jpg"); */
  height: 100%;
  background-size: auto;
}

header {
  width: 100%;
  height: 20%;
}

/* Sets navigation bar at the header with padding,margin,font-size and float to right */
nav {
  /* width: fit-content; */
  /* padding: .5rem 1rem; */
  display: flex;
  float: right;
  padding-top: 20px;
  margin-right: 20px;
  position: sticky;
  top: 0;
}

/* Sets the link items in the list as inline-block to align them horizontally provided with some margin , padding and border */
nav ul li {
  display: inline-block;
  /* margin-right: 25px; */
  padding: 5px;
}

/* sets the size color and removing underline decoration in nav links */
nav a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.personalpic {
  width: 40%;
}

#AboutMeContainer img {
  width: 90%;
  margin: 20px;
  border-radius: 50%;
}

#AboutMeContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 80vh;
}

.aboutme-card {
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: fit-content;
  max-height: 400px;
  background: rgba(29, 38, 113, 0.9);
  border: solid 4px rgba(235, 231, 222, 0.9);
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
}

#AboutMeContainer h1 {
  font-size: 50px;
  color: white;
  font-family: "Shippori Mincho", serif;
  margin-bottom: 3%;
  border-bottom: double 5px white;
}

#AboutMeContainer p {
  width: 50%;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  padding: 5px;
  text-align: justify;
}

/* Sets display flex and width height and margin of the article box */
#MyWorkContainer {
  /* background: url("../images/bgimage.jpg");
  opacity: 0.8; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

#MyWorkContainer h1 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Mincho", serif;
  margin-bottom: 3%;
  border-bottom: double 5px white;
}
.title {
  /* position: absolute; */
  bottom: 2px;
  color: white;
  padding: 5px;
  width: fit-content;
  font-family: "Dancing Script", cursive;
}
.projects {
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  bottom: 150px;
}
.links a {
  text-decoration: none;
  color: white;
}

.links a:hover {
  color: black;
}
.title:hover {
  color: black;
}

.projectContainer:hover #img {
  opacity: 0.3;
}
.projectContainer:hover .links {
  opacity: 1;
}
/* sets the height,width and border of all the other work images except work one */
#img {
  opacity: 1;
  width: 90%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px white;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
}
.contactForm form {
  width: 30%;
  font-family: sans-serif, Arial, Helvetica;
  font-size: large;
  font-weight: bolder;
  color: white;
}
.contactForm h1 {
  font-size: 50px;
  color: rgba(29, 38, 113, 0.9);
  font-family: "Shippori Mincho", serif;
  margin-bottom: 3%;
  border-bottom: double 5px rgba(29, 38, 113, 0.9);
}
/* sets the width to 75% of the box that contains the contact links */
/* .contactlinks {
  width: 75%;
} */

/* sets the display flex and jusitification padding and list-style of the list items inside unordered list elemet */
.contactlinks ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
}

/* sets the border bottom of the list items inside unordered list items */

/* sets the text-decoration and font-size of links insided list items */
.contactlinks a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(29, 38, 113, 0.9);

  margin-right: 10px;
}

.contactlinks ul li a:hover {
  font-size: 35px;
  transition: ease-in-out 0.6s;
  filter: saturate(3);
}
.error-text {
  font-size: x-large;
  color: whitesmoke;
}
.success-text {
  font-size: x-large;
  color: whitesmoke;
}
/* sets the footer of the page */
footer {
  margin-top: 15px;
  padding: 30px;
  text-align: center;
  /* background: "linear-gradient(rgba(7, 38, 113, 0.9), rgba(177, 150, 200, 0.9))"; */
  color: white;
}

@media only screen and (max-width: 900px) {
  .contactlinks {
    width: 100%;
  }
  .aboutme-card {
    opacity: 0.9;
    flex-direction: column;
  }

  .personalpic {
    width: 60%;
  }

  #AboutMeContainer img {
    width: 90%;
    margin: 10px;
    border-radius: 50%;
  }
  #AboutMeContainer p {
    width: auto;
    color: white;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  nav ul li {
    display: flex;
  }

  nav {
    float: none;
    justify-content: center;
  }

  .personalpic {
    width: 60%;
  }

  #AboutMeContainer img {
    width: 90%;
    margin: 10px;
    border-radius: 50%;
  }
  #AboutMeContainer p {
    width: auto;
    font-size: 15px;
    color: white;
    margin: 10px;
  }

  .contactlinks ul li {
    margin-left: 10px;
  }

  .contactlinks ul li a {
    font-size: 15px;
    font-weight: bolder;
  }

  .contactlinks ul li a:hover {
    color: var(--titleunderlines);
    font-size: 20px;
  }
}
